#something {
  text-align: center;
}

#somethinmore {
  align-items: center;
  padding-bottom: 2em;
  padding-top: 2em;
}

#form {
  text-align: center;
}
body {
  background-color: rgb(230, 217, 201);
}
#form {
  padding-top: 7em;
  padding-bottom: 2em;
  align-items: center;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  top: 0;
  left: 0;
  min-height: 30px;
  justify-content: space-around;
  background-color: rgb(230, 217, 201);
  padding: 8px 2px;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

#evenmore {
  border: 3px;
  border-radius: 2px;
  text-align: center;
}

#nav-bar {
  overflow: hidden;
  background-color: #rgb(230, 217, 201) 33;
  position: fixed;
  top: 0;
  left: 80%;
  width: 100%;
}
